
ul.nav{
	list-style-type: none;
	margin:0;
}

ul.nav li{
	width: 50px;
	display: inline;
	border:4px solid transparent;
}

ul.nav li.item:hover{
	border:4px solid black;
	background-color:black;
	color: white;
}


ul.nav li.item a{
	font-size: 110%;
	text-decoration: none;
	color:black;
}

ul.nav li.item a:visited{
	color:#872700;
}

ul.nav li.item:hover a{
	color: white;
}

h1 a{
	text-decoration: none;
}

body.chi-siamo ul.nav li.chi-siamo, 
body.aree ul.nav li.aree,  
body.animali ul.nav li.animali,
body.servizi ul.nav li.servizi,
body.area-privata ul.nav li.area-privata{
	border:4px solid black;
	background-color:black;
}

body.chi-siamo ul.nav li.chi-siamo a, 
body.aree ul.nav li.aree a,  
body.animali ul.nav li.animali a,
body.servizi ul.nav li.servizi a,
body.area-privata ul.nav li.area-privata a{
	 color: white; 
}      

div#logo{
	text-align: center;
	color: black;
}

div#logo h1{
	
}

div#nav{
	text-align: center;
}

div#logo p{
	
}

div#footer{
	border-top: 1px solid black;
	text-align: center;
	clear:both;
	
}

div#header{
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

div#content{
	
}

