
ul.nav{
	list-style-type: none;
}

ul.nav li{
	width: 50px;
	display: inline;
	padding:3px;
	width: 50px;
	border:2px solid transparent;
}

ul.nav li:hover{
	border:2px solid black;
}

ul.nav li a{
	text-decoration: none;
}

h1 a{
	text-decoration: none;
}


div#logo{
	text-align: center;
	font-color: black;
}

div#logo h1{
	
}

div#nav{
	text-align: center;
}

div#logo p{
	
}

div#footer{
	border-top: 1px solid black;
	text-align: center;
}

div#header{
	border-bottom: 5px solid black;
}

div#content{
	padding: 8px;
}