
ul.nav{
	list-style-type: none;
	margin:0;
}

ul.nav li{
	width: 50px;
	display: inline;
	width: 50px;
	border:4px solid transparent;
}

ul.nav li.item:hover{
	border:4px solid black;
	background-color:black;
	color: white;
}


ul.nav li.item a{
	font-size: 110%;
	text-decoration: none;
	color:black;
}

ul.nav li.item:hover a{
	color: white;
}

h1 a{
	text-decoration: none;
}


div#logo{
	text-align: center;
	font-color: black;
}

div#logo h1{
	
}

div#nav{
	text-align: center;
}

div#logo p{
	
}

div#footer{
	border-top: 1px solid black;
	text-align: center;
}

div#header{
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

div#content{
	padding: 8px;
}

