@import url(misc.css);

@import url(homepage.css);
@import url(login.css);
@import url(private.css);
@import url(images.css);


/* BOXES */

html,body{margin:10px; padding:0px;}


div.boxes{
	width:100%;
}

div.boxes *{
	border:2px solid black;
	position:relative ;
}

div.boxes .right{
	width:30%;
	position:absolute;
	top:0px;
	left:0px;
}

div.boxes .left{
	position:absolute;
	width:30%;
	top:0px;
	right:0px;
}

div.boxes .center{
	position:absolute;
	width:30%;
	top:0px;
	right:0px;
}

div.boxes h3{
	margin-left: 5%;
}

div.boxes dl dt{

}

table.standard
{
background-color:#ffffff;
border:0px solid #c3c3c3;
border-collapse:collapse;
margin:10px;
}

table.standard th
{
border:1px solid #c3c3c3;
padding:3px;
text-align:left;
vertical-align:top;
}

table.standard td
{
border:1px solid #c3c3c3;
padding:3px;
min-width:75px;
text-align:center;
}
table.standard tr.title
{
background-color:#87A84B;
}
table.standard td.button
{
border:0px;
}
div.animale
{
margin:5px;
overflow:auto;
background-color:#F5C659;
}
div.animale div.testo
{
float:left;
margin:15px;
}
img.animal
{
margin:15px;
float:right;
}

