body{
	/*background-color: #AB998F;*/
	margin: 0;
}

div.figure{
	text-align: center;
}

div.figure img{
	border:2px solid black;
}
div.figure p{
	font-size: 80%;
}

div.errors{
	margin:12px;
	text-align:center;
	border: 4px solid red;
}

.hidden{
	display:none;
}

a.button{
	text-decoration: none;
	color: white;
	background-color:#87A84B;
	border: 3px solid #87A84B;
	margin: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
      
table.striped{
	width:100%;
}

table.striped a{
   text-decoration:none;
	color:black;
}

table.striped tr td{
	width:100%;
	height:3%;
	border: 2px solid black;
	border-radius: 3px;
	text-align:center;
}

table.striped tr td:hover{
	background:black;
}

table.striped tr td:hover a{
	color:white;
}

span.stripe{
	letter-spacing: 4px;
	text-transform: uppercase;
}
