
/* menù a sinistra */
div#left{
	float: left;
	border-right: 1px solid black;
	width: 17%;
}

div#left ul{
	list-style-type: none;
}

div#left ul li{
	border:4px solid transparent;
}

div#left ul li:hover{
	border:4px solid black;
	background-color:black;
	color: white;
}

div#left ul li a{
	font-size: 110%;
	text-decoration: none;
	color: black;
}

div#left ul li:hover a{
	color: white;
}

/* menu a destra */
div#right{
	float: right;
	width: 82%;
}

/* form nuova area */

div.form-wrapper{
width: 20%;
text-align: right;
}
