div#left-menu{
	position: relative;
	top: 0;
	left: 0;
	border-right: 1px solid black;
	width: 17%;
}

div#left-menu ul{
	list-style-type: none;
}

div#left-menu ul li{
	border:4px solid transparent;
}

div#left-menu ul li:hover{
	border:4px solid black;
	background-color:black;
	color: white;
}

div#left-menu ul li a{
	font-size: 110%;
	text-decoration: none;
	color: black;
}

div#left-menu ul li:hover a{
	color: white;
}
