

/* menù a sinistra */

div#left{
	float: left;
	width: 18%;
	height: 100%;
	border-right:1px solid black;
}

div#line {
    position: absolute;
    top: 0;
    left: 18%;
    height: 100%;
    width: .2em;
    margin: 0 0 0 -.1em;
    background: black;
}

div#left ul{
	margin:0;
	padding:0;
	list-style-type: none;
}

div#left ul ul{
	padding-left:40px;
}

div#left ul li{
	border:4px solid transparent;
}

div#left ul li:hover{
	border:4px solid black;
	background-color:black;
	color: white;
}

div#left ul li a{
	font-size: 110%;
	text-decoration: none;
	color: black;
}

div#left ul li:hover a{
	color: white;
}

/* menu a destra */
div#right{
	float: right;
	width:80%;
}
/* form nuova area */

div.form-wrapper{
width: 20%;
text-align: right;
}

